/* raleway-700 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.svg#Raleway")
      format("svg"); /* Legacy iOS */
}

:root {
  --main-text-color: #555555;
  --dark-bg-text-color: #9da4bd;
  --accent-text-color: #ff6c00;
  --title-color: #303030;
  --dark-bg: #191c26;
  --title-font: "Raleway", sans-serif;
  --dark-bg-title: rgba(157, 164, 189, 0.6);
  --amount-item: 3;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: inherit;
}
.link:hover,
.link:focus {
  color: var(--accent-text-color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.dark-bg {
  background-color: #191c26;
}

.section-padding {
  padding: 130px 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.grid-item {
  margin-left: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 30px * var(--amount-item)) / var(--amount-item));
}

.flexbox {
  display: flex;
}

.line::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 20px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.button {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  width: 164px;
  border: 1px solid var(--accent-text-color);
  border-radius: 20px;
  padding: 12px 20px;
}

/* .viewport {
  background-image: url(../images/hero/img1.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 1125px;
} */

/* header */

header .container {
  justify-content: space-between;
  align-items: center;
}

header nav {
  align-items: center;
}
header {
  padding: 32px 0px;
}
header .link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}
header .button {
  letter-spacing: 0.09em;
}
.contacts {
  text-transform: uppercase;
}
.logo {
  margin-right: 71px;
  fill: var(--title-color);
}

.navigator li:not(:last-child) {
  margin-right: 40px;
}
.contacts li:not(:last-child) {
  margin-right: 40px;
}

/* main */

.title {
  font-family: var(--title-font);
  font-weight: 700;
  letter-spacing: 0.05em;
}
.page-title {
  font-size: 72px;
  line-height: 1.18;
  color: #ffffff;
  margin-bottom: 20px;
}

.section-title {
  font-size: 42px;
  line-height: 1.17;
  color: #303030;
}

.title-label {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* hero */

.hero-content {
  width: calc(100% / 12 * 4.5);
  margin-left: 200px;
}
.hero {
  min-height: 100vh;
  align-items: center;
}

.hero .title-label {
  color: var(--dark-bg-title);
  margin-bottom: 20px;
  align-items: center;
}

.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--title-color);
  align-items: center;
}

.social-link-item:not(:last-child) {
  margin-right: 40px;
}

.social-link.line::before {
  margin-right: 40px;
}

/* about us */

.about-us .title-label {
  color: var(--title-color);
}

.about-us p:nth-child(4) {
  font-size: 14px;
  line-height: 1.85;
}
.about-us .button {
  color: var(--title-color);
}

.about-us-list li:first-child {
  margin-right: 30px;
}

.text {
  padding: 0 50px;
}

.text p:nth-last-child(2) {
  margin-bottom: 40px;
}

.about-us .section-title {
  margin-bottom: 20px;
}
/* price */

.price {
  background-image: url(../images/price/img.png);
}

.price .title-label {
  color: rgba(157, 164, 189, 0.6);
}
.price .section-title {
  color: #ffffff;
  margin-bottom: 45px;
}
.price-list {
  color: hsl(227, 20%, 68%);
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.price-list:last-child {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.price-table {
  margin-bottom: 50px;
}

.price-table ul {
  width: 50%;
  padding: 30px 40px;
}

.price-list li {
  justify-content: space-between;
}

.price-table li:not(:last-child) {
  margin-bottom: 20px;
}

.price .button {
  margin: 0 auto;
}

/* .price-item {
  flex-grow: 1;
} */
/* .price-item:before {
  display: flex;
  flex-grow: 1;
  content: "";
  display: inline-block;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
  align-items: flex-end;
} */

/* advantages */

.advantages-list {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--title-color);
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
  justify-content: center;
}
.advantages span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;
}
.advantages sup {
  font-size: 16px;
  line-height: 1.37;
  color: var(--accent-text-color);
}

.advantages-item {
  width: 170px;
  height: 133px;
  background-color: #f7f7f7;
  padding: 20px 24px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.advantages-item:nth-child(2n + 1) {
  position: relative;
  top: -15px;
}

.advantages-item:nth-child(2n) {
  position: relative;
  top: 15px;
}
/* .table-item {
  flex-basis: calc(100%/2);
}

.grid-item {
  background-color: #f7f7f7;
} */

/* team */

.team {
  background-color: #f7f7f7;
  --amount-item: 3;
}

.team .title-label {
  margin-bottom: 110px;
}

.thumb {
  text-align: center;
  padding: 30px 82px 0 82px;
}

.team-member {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  color: var(--title-color);
}
.team-member-position {
  font-size: 14px;
  line-height: 1.35;
  color: var(--accent-text-color);
  margin-bottom: 30px;
}

.social-icon-list {
  display: inline-flex;
}

.social-icon-list a {
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
}

.icon {
  width: 20px;
  height: 20px;
  fill: var(--title-color);
}

.social-icon-list li:not(:last-child) {
  margin-right: 10px;
}

.social-icon-list a:hover .icon,
.social-icon-list a:focus .icon {
  fill: var(--accent-text-color);
}

/* portfolio */

.portfolio {
  --amount-item: 4;
}

.portfolio .title-label {
  margin-bottom: 45px;
}

/* connection */

.connection {
  background-image: url(../images/contacts/Bg.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.connection .link {
  color: var(--dark-bg-text-color);
}

.connection .section-title {
  color: #fff;
  margin-bottom: 40px;
}

.contact-us {
  color: var(--dark-bg-text-color);
  padding-left: 100px;
}

.contact-us-list {
  margin-bottom: 70px;
  width: 50%;
}

.contact-us-item:not(:last-child) {
  margin-bottom: 20px;
}

.contact-us-item .flexbox {
  align-items: center;
}

.connection .title-lable {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.contact-us .line::before {
  color: rgba(157, 164, 189, 0.4);
}

.table-item {
  width: calc(100% / 2);
}
.contact-us-icon {
  width: 24px;
  height: 24px;
  fill: transparent;
  stroke: currentColor;
  margin-right: 16px;
}
/* footer */

.footer {
  padding: 56px 0;
}

.footer .container {
  justify-content: space-between;
  align-items: center;
}

.footer .line:before {
  margin-right: 40px;
}

.social-list:not(:last-child) {
  margin-right: 40px;
}

.copyright {
  margin-bottom: 0;
}
